:root {
  --background-color: #f1f3f4;
  --text-color-heading: #202124;
  --text-color-body: #5f6368;
  --accent-color: #1a73e8;
  --color-light-grey: #dadce0;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  --spacing-xlarge: 32px;
  --custom-border-radius: 5px;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui;
}
html,
body,
#map {
  height: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

* {
  box-sizing: border-box;
}
/* ---- layout ---- */
.main-container {
  --sidebar-width: clamp(300px, 50vw, 350px);
  --sidebar-width-collapsed: 0;
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: 100dvh;
  grid-template-areas: "sidebar map";
  /* transition: grid-template-columns 0.3s ease-in-out; */
  z-index: 0;
}

.main-container {
  --sidebar-width: clamp(300px, 50vw, 350px);
  --sidebar-width-collapsed: 0;
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: 100dvh;
  grid-template-areas: "sidebar map";
  transition: grid-template-columns 0.3s ease-in-out;
  z-index: 0;
}

.main-container.sidebar-is-collapsed {
  grid-template-columns: var(--sidebar-width-collapsed) 1fr;
}

.main-container.sidebar-is-collapsed .sidebar {
  padding: 0;
}

.main-container > .sidebar > *:not(button) {
  transition: opacity 0.3s ease-in-out;
}

.main-container.sidebar-is-collapsed > .sidebar > *:not(button) {
  /* display: none; */
  opacity: 0;
}

.sidebar {
  grid-area: sidebar;
  position: relative;
  overflow: visible;
  z-index: 1;
  border-right: 1px solid #ddd;
  padding: var(--spacing-medium);
}

.sidebar::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  box-shadow: 4px 0px 6px -1px rgba(60, 64, 67, 0.15);
}

.sidebar h2 {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--text-color-heading);
  margin-block: var(--spacing-medium);
}

.map {
  grid-area: map;
  z-index: 0;
}

.sidebar-collapse-toggle {
  --sidebar-toggle-width: 0.75rem;
  all: unset;
  position: relative;
  top: 50%;
  right: calc(-1 * var(--sidebar-toggle-width));
  width: var(--sidebar-toggle-width);
  height: 2rem;
  position: absolute;
  background-color: var(--background-color);
  border-radius: 0 var(--custom-border-radius) var(--custom-border-radius) 0;
}

.sidebar-collapse-toggle::after {
  content: "";
  position: absolute;
  background-image: url("./src/assets/toggle-sidebar-arrow-icon.svg");
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.entry-form > fieldset {
  /* padding-block: var(--spacing-medium); */
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.entry-form > fieldset > button[type="submit"] {
  padding: var(--spacing-medium);
  border-radius: var(--custom-border-radius);
  color: var(--color-light-grey);
  background-color: var(--accent-color);
  border: none;
  transition: transform 0.2s ease-in-out;
}

/* Adding transformation when the button is active */
.entry-form > fieldset > button[type="submit"]:active {
  transform: scale(0.98);
  /* transform: rotate(180deg); */
}

.main-container.sidebar-is-collapsed .sidebar-collapse-toggle::after {
  transform: rotate(180deg);
}

.sidebar-collapse-toggle:not(:disabled):hover {
  cursor: pointer;
}

.field-wrapper {
  position: relative;
}

.field-wrapper > label:first-child {
  display: none;
}

.field-wrapper input {
  border: 1px solid var(--color-light-grey);
  color: var(--text-color-heading);
  font-family: var(--font-family-inter);
  padding: var(--spacing-small) var(--spacing-medium);
  border-radius: var(--custom-border-radius);
  width: 100%;
}

.field-wrapper input:focus {
  border: 1px solid var(--accent-color);
}

.field-wrapper .field-placeholder {
  height: 1rem;
  position: absolute;
  pointer-events: none;
  bottom: var(--spacing-small);
  box-sizing: border-box;
  color: #80868b;
  left: 8px;
  background: #ffffff;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 0;
  text-align: left;
  padding-inline: 4px;
}

.field-wrapper .field-placeholder .label {
  display: none;
}

.field-wrapper input:not([disabled]):focus ~ .field-placeholder {
  color: var(--accent-color);
}
.field-wrapper input:not([disabled]):focus ~ .field-placeholder,
.field-wrapper input:not(:placeholder-shown) ~ .field-placeholder {
  transform: scale(0.75) translateY(-26px) translateX(0px);
  transform-origin: left;
}

.field-wrapper input:not([disabled]):focus ~ .field-placeholder span.label,
.field-wrapper input:not(:placeholder-shown) ~ .field-placeholder span.label {
  display: block;
}

input:focus::placeholder {
  opacity: 0;
}

fieldset {
  padding: 0;
  border: none;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--accent-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--accent-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-wrapper {
  display: flex;
  gap: var(--spacing-medium);
}

/* Dropdown */
.select-dropdown,
.select-dropdown * {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}
.select-dropdown {
  position: relative;
  background-color: #e6e6e6;
  border-radius: var(--custom-border-radius);
}
.select-dropdown select {
  font-size: 1rem;
  font-weight: normal;
  width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-dropdown select:active,
.select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

/* color-picker */
.color-picker {
  display: flex;
  gap: var(--spacing-medium);
  align-items: center;
  height: 2rem;
}

.color-picker > input[type="color"] {
  flex: 1;
  border-radius: var(--custom-border-radius);
  padding: 0;
  margin: 0;
}
