@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-width: clamp(300px, 50vw, 350px);
  --sidebar-width-collapsed: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100dvh;
}
